#letter1 {
  animation-delay: 12000ms;
}

#letter2 {
  animation-delay: 9000ms;
}

#letter3 {
  animation-delay: 13000ms;
}

#letter4 {
  animation-delay: 7000ms;
}

#letter5 {
  animation-delay: 11000ms;
}

#letter6 {
  animation-delay: 6000ms;
}

#letter7 {
  animation-delay: 14000ms;
}

#letter8 {
  animation-delay: 10000ms;
}

#letter9 {
  animation-delay: 8000ms;
}

#sub-header-text {
  animation-delay: 16000ms;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 125%;
  font-family: Rockwell;
  font-family: "Nixie One", cursive;
}

#sub-header-text>tspan {
  fill-opacity: 0.84186048;
}