/* ======================PAGE SETUP============================ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background-color: #002D3B;
  color: rgba(255, 255, 255, 0.8);
}
/* ======================APP SETUP============================ */
.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@supports (display: grid) {
  .App{
    display: grid;
    grid-template-columns: 16rem 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
@media screen and (max-width: 75rem){ 
  .App {
    display: flex;
    flex-direction: column;
  }
 }
/* ======================PAGE HEADER IMAGE============================ */
.page-header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
}
#logo-image {
  width: 50%;
  max-width: 34rem;
  margin: 1rem auto;
  display: block;
}
@media screen and (max-width: 75rem){ 
  #logo-image {
    max-width: 30rem;
  }
 }
 @media screen and (max-width: 62rem){ 
  #logo-image {
    max-width: 28rem;
  }
 }
 @media screen and (max-width: 48rem){ 
  #logo-image {
    max-width: 24rem;
  }
 }
 @media screen and (max-width: 36rem){ 
  #logo-image {
    max-width: 20rem;
  }
 }
/* ======================NAV MENU============================ */
.primary-nav{
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.primary-nav__menu{
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  align-items: center;
  justify-content: center;

}
@supports (display: grid) {
  .primary-nav__menu{
    display: initial;
  }
}
@media screen and (max-width: 75rem){ 
  .primary-nav__menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 0;
  }
 }
 @media screen and (max-width: 48rem){ 
  .primary-nav__menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
 }
 @media screen and (max-width: 36rem){ 
  .primary-nav__menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1rem;
  }
 }
/*MENU ITEM*/
.primary-nav__menu__item {
  list-style: none;
  line-height: 2rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  cursor: pointer;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.primary-nav__menu__item:hover {
  border: solid rgba(255, 255, 255, 0.2) 1px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
/* ======================PAGE CONTAINER============================ */
.page-container {
  grid-column: 2/-1;

  margin: 2rem;
  padding: 1.5rem;
  max-width: 94rem;
  align-self: center;
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}
@supports (display: grid) {
  .page-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
@media screen and (max-width: 62rem){ 
  .page-container{
    display: flex;
    flex-direction: column;
  }

 }
.page-container__title {
  margin: auto;
  padding: 0.5rem;
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  grid-column: 1/-1;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
}
@media screen and (max-width: 36rem){
  .page-container{
font-size: 0.9rem;
  }
  .page-container__title {
font-size: 1.1rem;
  }
}
.page-container__image-link {
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  margin: 1.5rem;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 43.5rem;
}
.page-container__image {
  width: 100%;
  border-radius: 10px;
  max-height: 30rem;
  max-width: 30rem;
}
.info-container {
  padding: 1rem;
  font-family: "Rajdhani", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info-container__description {
  font-size: 1.2rem;
}
@media screen and (max-width: 36rem){
  .info-container__description {
    text-align: justify;
  }
}
.info-container__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
.info-container__logos__image {
  padding: 0.5rem;
  height: 2.5rem;
  opacity: 0.8;
  max-width: 2.5rem;
}
.info-container__logos__image > img {
	width: auto;
	height: 100%;
}
.code-link:hover {
  opacity: 1;
}
.code-link:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
/* ======================FOOTER SECTION============================ */
.footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/-1;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em;
}
/*CONTACT BUTTON*/
.contact-button {
  border-top: solid rgba(255, 255, 255, 0.2) 1px;
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  border-right: none;
  border-left: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
.contact-button__icon{
display: none;
}
 @media screen and (max-width: 62rem){ 
  .contact-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
 }
 @media screen and (max-width: 48rem){
   .contact-button, .contact-button::after, .contact-button::before{
     border: none !important;
   }
  .contact-button > span {
    display: none;
  }
  .contact-button__icon{
    display: initial;
    opacity: 0.7;
    height: 1.5rem;
  }
 }
 @media screen and (max-width: 36rem){ 
  #logo-image {
    max-width: 20rem;
  }
  .contact-button{
    top: 0.5rem;
    right: 0rem;
  }
 .contact-button__icon{
   height: 1rem;
 }
 }
.contact-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.contact-button::after {
  content: " ";
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  top: -10px;
  right: 10px;
  position: absolute;
  height: 150%;
}
.contact-button::before {
  content: " ";
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  top: -10px;
  left: 10px;
  position: absolute;
  height: 150%;
}
/* ======================CONTACT FORM SECTION============================ */
.contact-container {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-size: 1.3rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 1.5rem;
  padding: 1rem;
}

.contact-container > h2 {
  grid-row: 1/2;
  margin: auto;
  padding: 0.5rem;
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  text-align: center;
}

.contact-container > .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 3em;
}
.form__group {
  margin-bottom: 1rem;
}
.form__group__input {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  border: none;
  border-bottom: solid #ffffff7a 2px;
}
.form__group__input--medium {
  width: 70%;
}
@media screen and (max-width: 48rem){
  .contact-container{
    display: flex;
    flex-direction: column;
  }
  .contact-container > h2{
    margin: 2rem auto;
    font-size: 1.2rem;
  }
  .contact-container > .form {
    margin-left:0;
  }
  }
  @media screen and (max-width: 36rem){
    .form__group__input--medium {
      width: 100%;
    }
    }
.submit-button {
  border: solid rgba(255, 255, 255, 0.2) 1px;
  background: none;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.submit-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-container__link {
  color: white;
  text-decoration: none;
  margin: 0.7rem;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  width: 12rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding: 0.5rem;
}
.social-container__link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.social__logo{
  height: 3rem;
  margin-right: 1rem;
}
/* ======================INTRO SECTION============================ */
.about-container {
  grid-column: 2/-1;
  margin: 2rem;
  padding: 1.5rem;
  align-self: center;
  justify-self: center;
  max-width: 62.5rem;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  width: 80%;
}
@supports (display: grid) {
  .about-container{
    width: 100%;
  }
}
.about-container__image {
  float: left;
  float: inline-start;
  margin: 1rem;
  width:25%;
  max-width: 17rem;
  shape-outside: circle(50% at 50% 50%);
}
.about-container__text {
  font-family: "Nixie One", cursive;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
@media screen and (max-width: 36rem){ 
  .about-container__text {
    font-size: 1rem;
    text-align: justify;
  }
.about-container__image{
  float: initial;
  width: 80%;
}
}
.about-container__text > span {
  font-size: 1.5rem;
}



/* ======================MEDIA RULES============================ */

  /* // Small devices (landscape phones, 576px and up) */
      @media screen and (max-width: 36rem){ }

  /* // Medium devices (tablets, 768px and up) */
      @media screen and (max-width: 48rem){  }
  /* // Large devices (desktops, 992px and up) */
      @media screen and (max-width: 62rem){ 
       }
  /* // Extra large devices (large desktops, 1200px and up) */
      @media screen and (max-width: 75rem){  }